---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Astro Docker Template"
  description="Welcome page for the Astro Docker template"
>
  <h1 class="text-3xl font-bold underline text-center p-8">
    🚀 Astro + Docker + Tailwind!
  </h1>
</BaseLayout>
